{{#with user}}
<h2>{{this.username}}'s profile - ADMIN</h2>
<h3>Name: {{this.name}} {{this.lastName}}</h3>
<h3>Age: {{this.age}}</h3>
<h4>Bio: {{this.description}}</h4>

<a href="/admin/edit/{{this._id}}">Edita el perfil</a>

<form action="/admin/{{this._id}}/delete" method="post">
    <button type="submit">🗑</button>
</form>

{{/with}}

<a href="/audd">Shazam!</a>

