<form action="/get-directions" method="post">
    <input type="text" id="key" value="{{event.key}}" hidden>
    <img class="profile-pic" src="{{event.profilePic}}" alt="Profile image">

    <div class="event-title-container container">
        <h5 class="event-title">{{event.name}}</h5>
        <div class="row">
            <div class="col-1">
                <img src="/images/icons/microphone.svg">
            </div>
            <div class="col-10 api-info-concert">
                <h6 id="name" class="data"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <img src="/images/icons/calendar.svg">
            </div>
            <div class="col-10 api-info-concert">
                <h6 id="date" class="data"></h6>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <img src="/images/icons/location.svg">
            </div>
            <div class="col-10 api-info-concert">
                <button type="submit" class="remove-button-styling">
                    <h6 id="place" class="data"></h6>
                </button>
            </div>
        </div>
        <input type="text" name="longitude" id="longitude" hidden>
        <input type="text" name="latitude" id="latitude" hidden>
</form>
<div class="row">
    <div class="col-1">
        <img src="/images/icons/participants.svg">
    </div>
    <div class="col-10 api-info-concert">
        <h6 class="data">{{event.members.length}} Participantes</h6>
    </div>
</div>
<input type="text" id="apiId" value="{{event.concertApiId}}" hidden>
<div class="row separation">
    <div class="col-6">
        <a href="/show-event/{{event._id}}">
            <button type="button" class="purple-button">Detalles</button>
        </a>
    </div>

    {{#if users}}
    <div class="col-6">
        <form action="/share-event/{{event._id}}/" method="POST">
           <select name="user" id="user">
                {{#each users}}
                    <option value="{{this._id}}">{{this.username}}</option>
                {{/each}}
</select>

        <button type="submit" class="white-button">Compartir</button>
        </form>
    </div>
    {{/if}}

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/events/dateFormatter.js"></script>
<script src="/scripts/events/concert-details.js"></script>