
       
            <div class="row event">
                <div class="col-4 event-pic">
                    <img src="{{profilePic}}" alt="">
                </div>
                <div class="col-8">
                    <p>
                        {{place}}
                    </p>
                    <div class="title">
                        <p>{{name}}</p>
                    </div>
                    <p>
                        {{artist}}
                    </p>
                    <p>
                        Creado por: {{author.username}}
                    </p>
                </div>
            </div>
        
