<h2>Post de <a href="/profile/{{post.author._id}}">{{post.author.username}}</a></h2>
<h2>{{post.title}}</h2>
<h3>{{post.content}}</h3>

{{#unless post.comments}}
<p>Este post no tiene comentarios</p>
{{/unless}}

{{#each post.comments}}
{{>commentPartial this}}
{{#if (ifEquals this.author._id ../user)}}
    <form action="comment/{{_id}}/delete" method="POST" id="delete-form">
      <button type="submit">🗑 comentario</button>
    </form>
  {{/if}}
{{/each}}