<h1>Conciertos de AURORA</h1>



{{#if foundConcerts}}
    {{#each foundConcerts}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{images.[0].url}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{artistName}}</h5>
                <h5 class="card-title">{{dates.start.localDate}}</h5>
                <h5 class="card-title">City: {{_embedded.venues.[0].city.name}}</h5>
                <p class="card-text">{{name}}</p>
                <a href="{{url}}" class="btn btn-primary">Comprar entradas</a>
                <a href="/events/{{id}}" class="btn btn-primary">Ver eventos</a>
            </div>
        </div>
    {{/each}}
{{else}}
 <p>No concerts have been found</p>
{{/if}}

 <h4>También te podría interesar</h4>

{{!-- {{#if relatedConcerts}}
    {{#each relatedConcerts}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{images.[0].url}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artistName}}</h5>
            <h5 class="card-title">{{dates.start.localDate}}</h5>
            <h5 class="card-title">City: {{_embedded.venues.[0].city.name}}</h5>
            <p class="card-text">{{name}}</p>
            <a href="{{url}}" class="btn btn-primary">Comprar entradas</a>
            <a href="/events/{{id}}" class="btn btn-primary">Ver eventos</a>
        </div>
    </div>
    {{/each}}
{{else}}
<p>No concerts have been found</p>
{{/if}} --}}