{{#with conversation}}
  <p>Chat con {{../otherUser.username}} 💭</p>

  {{#each messages}}
    {{#if (isNewDay ../messages @index)}}
      <p><strong>{{getDate this.createdAt}}</strong></p>
    {{/if}}
    <p>{{this.author.username}} {{getTime this.createdAt}}:</p>

    {{#if (ifEquals this.author.username ../../myUser.username) }}
    <div class="my-message"><p>{{this.content}}</p></div>
    {{else}}
    <div class="others-message"><p>{{this.content}}</p></div>
    {{/if}}

    <br>
  {{/each}}

  <form action="/new-message/{{../otherUser._id}}" method="POST">
    <input hidden name="conversation" value="{{this._id}}"/>
    <input hidden name="author" value="{{../currentUser._id}}"/>
    <input hidden name="to" value="{{../otherUser._id}}"/>

    <div>
      <label for="content">Mensaje:</label>
      <input required type="text" name="content" />
    </div>

    <br />

    <div><button type="submit">Enviar mensaje</button></div>
  </form>

{{/with}}
