<link rel="stylesheet" href="/stylesheets/playlists.css" />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 main-body">

      {{#unless ownedPlaylists}}
      <p>No tienes ninguna playlist todavía, crea la primera!</p>
      {{/unless}}

      {{#ifIsTheSame currentUser._id id}}
      {{#if ownedPlaylists}}
      <h2 class="playlist-head">Tus playlists:</h2>
      {{#each ownedPlaylists}}

      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <a href="/playlist-details/{{this._id}}">
            {{#if this.previewPicture}}
            <img class="preview-picture" src="{{this.previewPicture}}" alt="">
            {{else}}
            <img class="preview-picture" src="/images/listen-static.png" alt="Default Picture">
            {{/if}}
          </a>
        </div>
        <div class="col">
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-title">{{this.title}}</p>
          </a>
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-description">{{this.description}}</p>
          </a>
        </div>
      </div>
      <hr>
      {{/each}}
      <br>
      {{/if}}

      {{#if followedPlaylists}}
      <h2 class="playlist-head">Playlists de otros usuarios:</h2>
      {{#each followedPlaylists}}
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <a href="/playlist-details/{{this._id}}">
            {{#if this.previewPicture}}
            <img class="preview-picture" src="{{this.previewPicture}}" alt="">
            {{else}}
            <img class="preview-picture" src="/images/listen-static.png" alt="Default Picture">
            {{/if}}
          </a>
        </div>
        <div class="col">
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-title">{{this.title}}</p>
          </a>
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-description">{{this.description}}</p>
          </a>
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-description">{{this.author.username}}</p>
          </a>
        </div>
      </div>
      <hr>
      {{/each}}
      {{/if}}

      {{else}}
      {{#unless ownedPlaylists}}
      <p class="playlist-message">{{user.username}} no tiene ninguna playlist todavía.</p>
      {{/unless}}

      {{#if ownedPlaylists}}
      <h2 class="playlist-head">Playlists de {{user.username}}:</h2>
      {{#each ownedPlaylists}}
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <a href="/playlist-details/{{this._id}}">
            {{#if this.previewPicture}}
            <img class="preview-picture" src="{{this.previewPicture}}" alt="">
            {{else}}
            <img class="preview-picture" src="/images/listen-static.png" alt="Default Picture">
            {{/if}}
          </a>
        </div>
        <div class="col">
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-title">{{this.title}}</p>
          </a>
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-description">{{this.description}}</p>
          </a>
        </div>
      </div>
      {{/each}}
      <br>
      {{/if}}

      {{#if followedPlaylists}}
      <h2 class="playlist-head">Playlists seguidas por {{user.username}}:</h2>
      {{#each followedPlaylists}}
      <div class="row">
        <div class="col-3 d-flex align-items-center">
          <a href="/playlist-details/{{this._id}}">
            {{#if this.previewPicture}}
            <img class="preview-picture" src="{{this.previewPicture}}" alt="">
            {{else}}
            <img class="preview-picture" src="/images/listen-static.png" alt="Default Picture">
            {{/if}}
          </a>
        </div>
        <div class="col">
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-title">{{this.title}}</p>
          </a>
          <a href="/playlist-details/{{this._id}}">
            <p class="playlist-description">{{this.description}}</p>
          </a>
        </div>
      </div>
      {{/each}}
      {{/if}}

      {{/ifIsTheSame}}

    </div>
  </div>
</div>
