{{#with playlist}}
  <h2>{{this.title}}</h2>
  <h3>{{this.author.username}}</h3>

  {{#if (ne ../currentUser._id this.author._id)}}
    {{#if (../currentUser.playlists.includes this._id)}}
      <form action="/unfollow-playlist/{{this._id}}" method="POST">
        <button type="submit">Dejar de seguir playlist</button>
      </form>
    {{else}}
      <form action="/follow-playlist/{{this._id}}" method="POST">
        <button type="submit">Seguir playlist</button>
      </form>
    {{/if}}
  {{/if}}
{{/with}}
{{#each songs}}
  <div>
    <h4>{{this.name}}</h4>
    <p>{{this.album.name}}</p>
    <audio src="{{this.preview_url}}" controls></audio>
  </div>
{{/each}}
