<link rel="stylesheet" href="/stylesheets/playlists.css" />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 main-body">
      {{#with playlist}}
      <h2 class="playlist-head">{{this.title}}</h2>
      {{#if (ne this.author.username ../currentUser.username)}}
      <h3>{{this.author.username}}</h3>
      {{/if}}
      <input type="text" value="{{../user._id}}" id="currentUserId" hidden>
      <input type="text" value="{{this._id}}" id="playlistId" hidden>
      {{#if ../canFollow}}
      <form id="follow-form" action="/follow-playlist/{{this._id}}" method="POST">
        <button class="link" id="follow-button" type="submit">Seguir playlist</button>
      </form>
      {{/if}}
      {{#if ../canUnfollow}}
      <form id="unfollow-form" action="/unfollow-playlist/{{this._id}}" method="POST">
        <button class="link" id="unfollow-button" type="submit">Dejar de seguir playlist</button>
      </form>
      {{/if}}
      {{#if ../isOwner}}
      <form id="delete-form" action="/delete-playlist/{{this._id}}" method="POST">
        <button class="link" id="delete-button" type="submit">Eliminar playlist</button>
      </form>
      {{/if}}
      {{/with}}
      <br>
      {{#if songs}}
      {{#each songs}}
      <div class="row align-items-center">
        <div class="col-3">
          <img class="preview-picture" src="{{this.album.images.[0].url}}" alt="">
        </div>
        <div class="col">
          <p class="playlist-title">{{this.name}}</p>
          <p class="playlist-description">{{this.artists.[0].name}} - {{this.album.name}}</p>
        </div>
        <div class="col-2">
          <div class="d-flex align-items-center justify-content-end">
            {{!-- <audio src="{{this.preview_url}}" controls></audio> --}}
            <button class="play-button" data-src="{{this.preview_url}}">
              <img class="play-icon" src="/images/icons/Play.svg" alt="Play">
            </button>
          </div>
        </div>
      </div>
      {{#if ../isOwner}}
      <form action="/delete-song/{{this.id}}/{{../playlist._id}}" method="POST">
        <button type="submit" class="delete-song"><p class="delete-text">Eliminar canción</p></button>
      </form>
      {{/if}}
      <hr>
      {{/each}}
      {{else}}
      <p>Esta lista no tiene canciones</p>
      {{/if}}
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const playButtons = document.querySelectorAll(".play-button");

  playButtons.forEach(function (button) {
    const audioSrc = button.dataset.src;
    const audio = new Audio(audioSrc);
    let isPlaying = false;

    button.addEventListener("click", function () {
      if (isPlaying) {
        audio.pause();
        button.querySelector(".play-icon").src = "/images/icons/Play.svg";
        isPlaying = false;
      } else {
        audio.play();
        button.querySelector(".play-icon").src = "/images/icons/Pause.svg";
        isPlaying = true;
      }
    });
  });
});
</script>
