{{#with user}}
<h2>{{this.username}}'s profile</h2>
<h3>Name: {{this.name}} {{this.lastName}}</h3>
<h3>Age: {{this.age}}</h3>
<h4>Bio: {{this.description}}</h4>

<a href="/edit/{{this._id}}">Edita tu perfil</a>

{{/with}}

<div class="blue-background">
<h2>Mis publicaciones:</h2>

{{#each posts}}
{{>postPartial this}}
<br>
{{/each}}
</div>

<a href="/audd">Shazam!</a>
