<link rel="stylesheet" href="/stylesheets/search.css" />
<link rel="stylesheet" href="/stylesheets/events.css" />

<div class="container justify-content-center">
  <div class=" row justify-content-center">
    <div class="col col-md-11 col-lg-8 responsive-col">
      <div>
        <h1 class="text-center">Tus resultados</h1>
        <div class="search-again">
          <div class="outline">
            <div class="row">
              <div class="col-1 d-flex align-items-center">
                <img src="/images/icons/search-bar.svg" alt="">
              </div>
              <div class="col-11 d-flex justify-content-center">
                <form action="/search" method="GET">
                  <div class="row">
                    <div class="col-9 d-flex justify-content-center">
                      <input required type="text" placeholder="Busca algo más" name="query" />
                    </div>
                    <div class="col-3 d-flex justify-content-center">
                      <button type="submit" class="remove-button-styling">
                        <p>SEARCH</p>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <h2>Usuarios</h2>
          {{#if users}}
          <div class="container">
            {{#each users}}
            <a href="/profile/{{this._id}}">
              <div class="user">
                <div class="row">
                  <div class="col-2 picture">
                    <img class="search-img" src="{{profileImg}}">
                  </div>
                  <div class="col-8 wrapper">
                    <div class="you-message">
                      <p>
                        {{username}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            {{/each}}
          </div>
          {{else}}
          <p>No se han encontrado usuarios.</p>
          {{/if}}
          <br />
        </div>
        <div class="col-md-8">
          <h2>Eventos</h2>
          {{#if events}}
          {{#each events}}
          <a href="/event-details/{{_id}}">
            <div class="row event">
              <div class="col-6 event-pic">
                <img src="{{profilePic}}" alt="">
              </div>
              <div class="col-6">
                <p>
                  {{date}}
                </p>
                <p>
                  {{place}}
                </p>
                <div class="title">
                  <p>{{artist}}</p>
                </div>
                <p>
                  {{name}}
                </p>
              </div>
            </div>
          </a>
          {{/each}}
          {{else}}
          <p>No se han encontrado eventos.</p>
          {{/if}}
        </div>
      
        <div class="col-md-6">
          <div class="row">
            <h2>Artistas</h2>
            <div id="artists-list">
              {{#each artistsInfoShort}}
      
              <a href="/artist/{{this.id}}">
                <div class="row">
                  <div class="col-3">
                    <img src="{{img}}" class="search-img">
                  </div>
                  <div class="col-9 artist-name">
                    <p>
                      {{name}}
                    </p>
                  </div>
                </div>
              </a>
              {{/each}}
            </div>
      
            {{#if artistsInfoLong}}
            <div class="padd">
              <button class="white-button" id="show-all-artists">Mostrar todos los artistas</button>
            </div>
            <div class="padd">
              <button class="purple-button" id="show-less-artists" style="display: none">Mostrar menos artistas</button>
            </div>
            {{/if}}
      
          </div>
        </div>
      
      
        <div class="col-md-6">
          <div class="row">
            <h2>Canciones</h2>
            <div id="songs-list">
              {{#each songsInfoShort}}
      
              <a href="/song/{{this.id}}">
                <div class="row">
                  <div class="col-3">
                    <img src="{{img}}" class="search-img">
                  </div>
                  <div class="col-9 artist-name">
                    <p>
                      {{name}}
                    </p>
                    <div class="sub-title">
                      <p>{{artists}}</p>
                    </div>
                  </div>
                </div>
              </a>
              {{/each}}
            </div>
      
            {{#if songsInfoLong}}
            <div class="padd">
              <button class="purple-button" id="show-all-songs">Mostrar todas las canciones</button>
            </div>
            <div class="padd">
              <button class="white-button" id="show-less-songs" style="display: none">Mostrar menos canciones</button>
            </div>
            {{/if}}
      
          </div>
        </div>
      
        <div class="col-md-8">
          <h2>concierto</h2>
          {{#if concertsInfoShort}}
          <div id="concerts-list">
            {{#each concertsInfoShort}}
            <a href="/concert/{{id}}">
              <div class="row event">
                <div class="col-6 event-pic">
                  <img src="{{img}}" alt="">
                </div>
                <div class="col-6">
                  <p>
                    {{date}}
                  </p>
                  <div class="title">
                    <p>{{name}}</p>
                  </div>
                  <p>
                    {{city}}
                  </p>
                </div>
              </div>
            </a>
            {{/each}}
          </div>
      
          {{#if concertsInfoLong}}
          <div class="padd">
            <button class="white-button" id="show-all-concerts">Mostrar todos los conciertos</button>
          </div>
          <div class="padd">
            <button class="purple-button" id="show-less-concerts" style="display: none">Mostrar menos conciertos</button>
          </div>
          {{/if}}
      
          {{else}}
          <p>No se han encontrado concierto.</p>
          {{/if}}
        </div>
      
      </div>
    </div>
  </div>
</div>
{{!-- <script src="/scripts/search/show-more-less.js"></script> --}}

<script>
  //artists 
  
  const shortArtistsList = `
  {{#each artistsInfoShort}}      
          <a href="/artist/{{this.id}}">
            <div class="row">
              <div class="col-3">
                <img src="{{img}}">
              </div>
              <div class="col-9 artist-name">
                <p>
                {{name}}
                </p>  
              </div>
            </div>
          </a>
          {{/each}}
        </div>`
        
  const longArtistsList = `
  {{#each artistsInfoLong}}        
          <a href="/artist/{{this.id}}">
            <div class="row">
              <div class="col-3">
                <img src="{{img}}">
              </div>
              <div class="col-9 artist-name">
                <p>
                {{name}}
                </p>  
              </div>
            </div>
          </a>
          {{/each}}
        </div>`
  const showAllArtistsButton = document.querySelector('#show-all-artists');
  const showLessArtistsButton = document.querySelector('#show-less-artists')

  showAllArtistsButton.addEventListener('click', () => {
    document.querySelector('#artists-list').innerHTML = longArtistsList;

    showAllArtistsButton.style.display = 'none';
    showLessArtistsButton.style.display = 'block'
  });

  showLessArtistsButton.addEventListener('click', () => {
    document.querySelector('#artists-list').innerHTML = shortArtistsList;

    showAllArtistsButton.style.display = 'block';
    showLessArtistsButton.style.display = 'none'
  })

  //songs 
  const shortSongsList = `{{#each songsInfoShort}}
    
          <a href="/song/{{this.id}}">
            <div class="row">
              <div class="col-3">
                <img src="{{img}}">
              </div>
              <div class="col-9 artist-name">
                <p>
                  {{name}}
                </p>
                <div class="sub-title">
                  <p>{{artists}}</p>
                </div>
              </div>
            </div>
          </a>
          {{/each}}`
          
  
  
  const longSongsList = `{{#each songsInfoLong}}

    <a href="/song/{{this.id}}">
      <div class="row">
        <div class="col-3">
          <img src="{{img}}">
        </div>
        <div class="col-9 artist-name">
          <p>
            {{ name }}
          </p>
          <div class="sub-title">
            <p>{{ artists }}</p>
          </div>
        </div>
      </div>
    </a>
    {{/each}}`

  const showAllSongsButton = document.querySelector('#show-all-songs');
  const showLessSongsButton = document.querySelector('#show-less-songs');

  showAllSongsButton.addEventListener('click', () => {
    document.querySelector('#songs-list').innerHTML = longSongsList;
    showAllSongsButton.style.display = 'none';
    showLessSongsButton.style.display = 'block';
  });

  showLessSongsButton.addEventListener('click', () => {
    document.querySelector('#songs-list').innerHTML = shortSongsList;
    showLessSongsButton.style.display = 'none';
    showAllSongsButton.style.display = 'block';
  });

  // concerts
  const shortConcertsList = `{{#each concertsInfoShort}}
          <a href="/concert/{{id}}">
            <div class="row event">
              <div class="col-6 event-pic">
                <img src="{{img}}" alt="">
              </div>
              <div class="col-6">
                <p>
                  {{date}}
                </p>
                <div class="title">
                  <p>{{name}}</p>
                </div>
                <p>
                  {{city}}
                </p>
              </div>
            </div>
          </a>
        {{/each}}`
  const longConcertsList = ` {{#each concertsInfoLong}}
          <a href="/concert/{{id}}">
            <div class="row event">
              <div class="col-6 event-pic">
                <img src="{{img}}" alt="">
              </div>
              <div class="col-6">
                <p>
                  {{date}}
                </p>
                <div class="title">
                  <p>{{name}}</p>
                </div>
                <p>
                  {{city}}
                </p>
              </div>
            </div>
          </a>
        {{/each}}`
  const showAllConcertsButton = document.querySelector('#show-all-concerts');
  const showLessConcertsButton = document.querySelector('#show-less-concerts');

  showAllConcertsButton.addEventListener('click', () => {
    document.querySelector('#concerts-list').innerHTML = longConcertsList;
    showAllConcertsButton.style.display = 'none';
    showLessConcertsButton.style.display = 'block';
  });

  showLessConcertsButton.addEventListener('click', () => {
    document.querySelector('#concerts-list').innerHTML = shortConcertsList;
    showLessConcertsButton.style.display = 'none';
    showAllConcertsButton.style.display = 'block';
  });
</script>
