





<link rel="stylesheet" href="/stylesheets/events.css" />
<link rel="stylesheet" href="/stylesheets/photo.css" />


{{#with event}}
    <form action="/edit-event/{{_id}}" method="POST" enctype="multipart/form-data">
        <div class="container padd">
            <div class="row justify-content-center">
                <div class="col col-md-6">
                    <div class="one-liner padd-create">
                        <h2>Nombre del evento</h2>
                        <input type="text" name="name" value="{{name}}"></input>
                    </div>
                    <div class="one-liner padd-create">
                        <h2>Descripción</h2>
                        <input type="text" name="description" value="{{description}}"> </input>
                    </div>
                    <div class="padd ">
                        <button class="purple-button" type="submit">Guardar</button>
                    </div>
                    {{!-- CHANGE PICTURE --}}
                    <div>
                        
                        <input hidden type="text" value="{{profilePic}}" name="profilePic">
                        <input hidden id="pic-url" name="picUrl">
              
                        <h2>Cambia tu foto the perfil</h2>
                        <label for="image-input" class="custom-file-upload">
                            Escoge una imagen
                        </label>
                        <input hidden type="file" id="image-input" name="profilePic" accept="image/jpeg, image/png">
                    
                        <p hidden id="taken-pic"> Se cambiará tu foto de perfil a la última que hayas tomado</p>
                        <button hidden  id="upload-button">Descartar última foto</button>
                        <a href="/take-photo"><button id="t-pic">Hacer foto</button></a>
                        <input hidden type="text" value="{{profilePic}}" name="profilePic">
                        <input hidden id="pic-url" name="picUrl">
                    </div>


                    </div>
                </div>
            </div>
        </div>
    </form>
{{/with}}



<script src="/scripts/check-profilePic.js"></script>