{{#if notifications}}
  {{>eventAcceptDecline 
     notifications=notifications
     joinRequests=joinRequests}}
    el problema no está aquí
{{/if}}
<div class="card">
    <div class="card-body">
        <img src="{{event.profilePic}}" alt="Profile image" style="width:7rem">
        <a href="/show-event/{{event._id}}"><h5 class="card-title">{{event.name}}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted">participantes {{event.members.length}}</h6>
        <a href="/concert-details/{{event.concertApiId}}" class="card-link">Detalles del concierto</a>
    
    </div>
</div>

    <div class="card">
        <div class="card-body">
            {{>eventChat event=event authorId=session}}
        </div>
    </div>
