<link rel="stylesheet" href="/stylesheets/events.css" />
<link rel="stylesheet" href="/stylesheets/search.css" />


{{#if event}}

<div class="row">
    <div class="col-md-5">
        <form action="/get-directions" method="post">
            <input type="text" id="key" value="{{key}}" hidden>
            <img class="profile-pic" src="{{event.profilePic}}" alt="Profile image">

            <div class="event-title-container container">
                <h5 class="event-title">{{event.name}}</h5>
                <div class="row">
                    <div class="col-1">
                        <img src="/images/icons/microphone.svg">
                    </div>
                    <div class="col-10 api-info-concert">
                        <h6 id="name" class="data"></h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        <img src="/images/icons/calendar.svg">
                    </div>
                    <div class="col-10 api-info-concert">
                        <h6 id="date" class="data"></h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        <img src="/images/icons/location.svg">
                    </div>
                    <div class="col-10 api-info-concert">
                        <button type="submit" class="remove-button-styling">
                            <h6 id="place" class="data"></h6>
                        </button>
                    </div>
                </div>
                <input type="text" name="longitude" id="longitude" hidden>
                <input type="text" name="latitude" id="latitude" hidden>
        </form>
        <input type="text" id="apiId" value="{{event.concertApiId}}" hidden>
        <div class="row separation">
            <div class="col-6">
                <!-- Button trigger modal -->
                <button type="button" class="purple-button" data-toggle="modal" data-target="#exampleModal">
                    Salir del evento
                </button>
                
                <!-- Modal -->
                <div class="container modal-wrapper">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que te quieres ir?</h5>
                                    <button type="button" class="close purple-close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ♪ No te vayas de la fiesta ♪
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn white-button" data-dismiss="modal">Me quedo</button>
                                    <form action="/leave-event/{{event._id}}" method="post">
                                        <button type="submit" class="btn purple-button">Os abandono</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {{#if event.isAdmin}}
                <div class="col-6">
                    <a href="/edit-event/{{event._id}}">
                        <button type="button" class="white-button">Editar </button>
                    </a>
                </div>

            {{else}}
                
                <div class="col-6">
                        <button type="button" class="white-button">No puedes editar </button>
                </div>

            {{/if}}
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Participantes</h2>
        <div class="container participants">
            {{#each event.members}}
            <a href="/profile/{{this._id}}">
                <div class="user">
                    <div class="row">
                        <div class="col-2 picture">
                            <img class="search-img" src="{{profileImg}}">
                        </div>
                        <div class="col-8 wrapper">
                            <div class="other-message">
                                <p>
                                    {{username}}
                                    {{#if isAdmin}}
                                        {{#if isYou}} <b> (you)</b>
                                    {{else}} <b> (admin)</b> {{/if}}
                                    {{/if}}

                                    {{#unless isAdmin}}
                                        {{#if isYou}} <b> (you)</b> {{/if}}
                                    {{/unless}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
            <!-- Button trigger modal -->
            <div class="container padd-create">
                <button class="purple-button" data-toggle="modal" data-target="#deleteModal">
                    Borrar Evento
                </button>
            </div>
            
            
            <!-- Modal -->
            <div class="container modal-wrapper">
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Borrar evento</h5>
                                <button type="button" class="close purple-close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¡Cuidado! Una vez que borrar el evento no habrá vuelta atrás. Se perderá para siempre. 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn white-button" data-dismiss="modal">No</button>
                                <div class="d-flex justify-content-center">
                                    <form action="/leave-event/{{event._id}}" method="post">
                                        <button type="submit" class="btn purple-button">Borrar evento</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

</div>

{{/if}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/events/dateFormatter.js"></script>
<script src="/scripts/events/concert-details.js"></script>