
<link rel="stylesheet" href="/stylesheets/search.css" />
<link rel="stylesheet" href="/stylesheets/events.css" />

<div class="container justify-content-center">
    <div class=" row justify-content-center responsive-col">
        <div class="d-flex justify-content-center padd">
            <h1>Eventos</h1>
            <hr>
        </div>
        <div class="col-md-5">
            <h2>Creados por mí</h2>
            {{#if followedEvents}}
            {{#each followedEvents}}
            <a href="/event-details/{{_id}}">
                <div class="row event">
                    <div class="col-6 event-pic">
                        <img src="{{profilePic}}" alt="">
                    </div>
                    <div class="col-6">
                        <div class="title">
                            <p>{{name}}</p>
                        </div>
                        <p>
                            {{artist}}
                        </p>
                        <p>Creado por: {{author.username}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
            {{else}}
            <p>No has creado ningún evento. Búsca algún concierto ♪</p>
            {{/if}}
        </div>
        <div class="col-md-5">
            <h2>Eventos en los que participo</h2>
            {{#if followedEvents}}
            {{#each followedEvents}}
            <a href="/event-details/{{_id}}">
                <div class="row event">
                    <div class="col-6 event-pic">
                        <img src="{{profilePic}}" alt="">
                    </div>
                    <div class="col-6">
                        <div class="title">
                            <p>{{name}}</p>
                        </div>
                        <p>
                            {{artist}}
                        </p>
                        <p>Creado por: {{author.username}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
            {{else}}
            <p>No se han encontrado eventos.</p>
            {{/if}}
        </div>
    </div>
</div>